@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--color-gray-light);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-lg) var(--spacing-md) var(--spacing-md)
    var(--spacing-md);
  min-width: 16.25rem;
  max-width: 21.25rem;
  margin: 0 auto;
  border-radius: var(--border-radius-xl);
  height: 100%;
}

.skeleton .pulse {
  display: none;
}

.skeletonImage,
.skeletonTitle,
.skeletonPrice,
.skeletonButton,
.skeletonDescription {
  background: var(--color-gray-medium);
  border-radius: var(--border-radius-sm);
  animation: pulse 1.5s infinite ease-in-out;
}

.skeletonImage {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 1.25rem;
  border-radius: var(--border-radius-lg);
}

.skeletonTitle {
  width: 70%;
  height: 1.05rem;
  margin-bottom: 0.1rem;
}

.skeletonPrice {
  width: 40%;
  height: 1rem;
  margin-bottom: var(--spacing-md);
}

.skeletonDescription {
  width: 100%;
  height: 1rem;
  margin-bottom: var(--spacing-md);
}

.skeletonButton {
  width: 100%;
  height: 2.5rem;
  margin-top: auto;
}

.relatedProductsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-lg);
}

@media (max-width: var(--breakpoint-md)) {
  .relatedProductsGrid {
    grid-template-columns: 1fr;
  }
}

.relatedProductsGrid > * {
  height: 100%;
}

.container {
  width: 100%;
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-md);
}

.grid {
  margin-top: 5rem;
  margin-bottom: var(--spacing-xl);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-xl);
}

.gridItem {
  display: flex;
  height: 100%;
}

@media (max-width: var(--breakpoint-lg)) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: var(--breakpoint-md)) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: var(--breakpoint-xs)) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
  }
  .container {
    padding: var(--spacing-md);
  }
}

.cartIconSkeleton {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 var(--spacing-sm);
}

.cartIconPulse {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-gray-medium);
  border-radius: 0.9375rem;
  animation: pulse 1.5s infinite ease-in-out;
}

.cartPageContainer {
  width: 100%;
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-md);
}

.cartPageContentWrapper {
  display: flex;
  gap: var(--spacing-xl);
  align-items: flex-start;
}

.cartPageItemsSection {
  flex: 2;
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-lg);
  border: 1px solid var(--color-border-medium);
}

.cartPagePageTitle {
  width: 40%;
  height: 2rem;
  background-color: var(--color-gray-medium);
  border-radius: var(--border-radius-sm);
  animation: pulse 1.5s infinite ease-in-out;
  margin-bottom: var(--spacing-lg);
}

.cartPageSkeleton {
  width: 100%;
  margin-top: var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.cartPagePulse {
  width: 80%;
  height: 2rem;
  background-color: var(--color-gray-medium);
  border-radius: var(--border-radius-sm);
  animation: pulse 1.5s infinite ease-in-out;
}
