.toast {
  position: fixed;
  bottom: var(--spacing-md);
  left: 50%;
  transform: translateX(-50%) translateY(1.25rem);
  z-index: 1100;
  padding: var(--spacing-xs) var(--spacing-md);
  color: var(--color-white);
  border-radius: var(--border-radius-md);
  max-width: 350px;
  box-shadow: var(--shadow-md);
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.success {
  background-color: var(--color-success-text);
}

.error {
  background-color: var(--color-error-text);
}

@media (max-width: var(--breakpoint-xs)) {
  .toast {
    max-width: 90vw;
    left: 5%;
    transform: translateX(0) translateY(1.25rem);
  }
  .toast.show {
    transform: translateX(0) translateY(0);
  }
}
