.controlRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
  gap: var(--spacing-lg);
  flex-wrap: wrap;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}
