.languageSwitcherSelect {
  min-width: 6.875rem;
}

.languageSwitcherContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  margin-left: auto;
  color: var(--color-accent);
}

.languageSwitcherIcon {
  display: block;
}
