.languageSwitcherSelect {
  min-width: 6.875rem;
}

.languageSwitcherContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  color: #3a558b;
}

.languageSwitcherIcon {
  display: block;
}
