.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  box-sizing: border-box;
  background: var(--background);
  border-top: 1px solid #eee;
  z-index: 100;
}

.footerContent {
  max-width: 1200px;
  width: 100%;
  display: flex;
  padding: 0 16px;
  justify-content: flex-end;
}
